.nav-link{
    font-size: 22px;
    font-weight: bold;
}

.nav-item{
    margin-right: 20px;
}

header-townhall{
    padding: 15px;
}

header{
    border-bottom: 3px solid grey;
    background-color: rgb(253, 242, 225);
}

