<!DOCTYPE html>
<html>
<head><meta charset="UTF-8"></head>
<body>
			<nav class="sidebar sidebar-open" th:fragment="nav-sidebar">
				<ul class="nav nav-pills">
					<li class="nav-item"><a class="nav-link " href="/"> <i
							class="oi oi-home"></i> <span>Home</span>
					</a></li>
				</ul>

				<ul class="nav nav-pills">
					<li class="nav-item"><span class="nav-link active" >Menu1</span></li>
					<li class="nav-item"><a class="nav-link"
						href="/menu1/add"> <i class="oi oi-plus"></i> <span>Add</span>
					</a></li>
					<li class="nav-item"><a class="nav-link"
						href="/menu1/list"> <i class="oi oi-spreadsheet"></i>
							<span>List </span>
					</a></li>
				</ul>

				<ul class="nav nav-pills">
					<li class="nav-item"><span class="nav-link active" >Menu2</span></li>
					<li class="nav-item"><a class="nav-link" 
						href="/menu2/add"> <i class="oi oi-plus"></i> <span>Add </span>
					</a></li>
					<li class="nav-item"><a class="nav-link" 
						href="/menu2/list"> <i
							class="oi oi-spreadsheet"></i> <span>List </span>
					</a></li>
				</ul>

				<ul class="nav nav-pills">
					<li class="nav-item"><span class="nav-link active">Menu3</span></li>
					<li class="nav-item"><a class="nav-link" 
						href="/menu3/add"> <i class="oi oi-plus"></i> <span>Add </span>
					</a></li>
					<li class="nav-item"><a class="nav-link" 
						href="/menu3/list"> <i class="oi oi-spreadsheet"></i> <span>List </span>
					</a></li>
				</ul>
			</nav>
</body>
</html>