<div class="container mt-4">
    <h2 class="mb-3">Benutzerrollenverwaltung</h2>
    <table class="table table-striped table-bordered">
      <thead class="table-dark">
        <tr>
          <th>Email & Rollen</th>
          <th>Rolle ändern</th>
        </tr>
      </thead>
      <tbody>
        @if (allUsers | async; as loadedUsers) {
            @for (user of loadedUsers; track user){
                <tr>
                    <td>
                        <p>E-Mail: {{ user.email }}</p>
                        
                        @for (role of user.roles; track role) {
                            <p>Rolle: {{ role.name }}</p>
                        }
                                                
                    </td>
                    
                    <td>
                        <div>
                            <form [formGroup]="roleForms[user.id]" (ngSubmit)="onSubmit(user.id)">
                                <div class="form-group">
                                    
                                    <select class="form-control" id="roleSelection" formControlName="roleSelection">
                                      <option value="SERVICEWORKER">Serviceworker</option>
                                      <option value="ADMIN">Admin</option>
                                    </select>
                                  </div>

                                  <button 
                                    type="submit" 
                                    class="btn btn-primary w-100">
                                    Speichern
                                  </button>
                            </form>
                        </div>
                    </td>
                  </tr>
            }
        }
      </tbody>
    </table>
  </div>

