<!DOCTYPE html>
<html>
  <head>
  
	   
   </style>
  </head>
  <body>
    <div th:fragment="footer" align=center  style="color:white;background:black;" posi>
      &copy;Copyright 2024 OTH-R Content Footer Layout
    </div>
	
	
	<div th:fragment="footer-adm" align=center  style="color:rgb(255, 0, 0);background:rgb(255, 255, 128);" posi>
	      &copy;Copyright 2024 OTH-R Footer Layout Adm
		  <br>
		  This is a special footer for the Adm.
	 </div>
	 
	 
	 <div th:fragment="footer-manager" align=center  style="color:white;background:black;" posi>
	       &copy;Copyright 2023 OTH-R Footer Layout Manager
	     </div>
  </body>
</html>

