html, body {
    height: 100%;
    margin: 0;
}

//Feste height zum simulieren von content
.townhall-col{
    height: 1000px;
}

.articles{
    max-height: 350px;
    overflow-y: scroll;
}

.footBallStats{
    max-height: 900px;
    overflow-y: scroll;
}