<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Login</h1>
    <form action="#" th:action="@{/login/process}"  method="post">
        <p>
            <h3>Name</h3>
            <input type="email" placeholder="email"/>
            <h3>PW</h3>
            <input type="password" placeholder="password"/>
            <input type="submit" value="Submit"/>
        </p>
    </form>
</body>
</html>